* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: linen;

  font-family: sans-serif;
}

.lane {
  margin: 0.5em;

  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 10em;

  display: inline-block;
  vertical-align: top;

  background-color: #efefef;
}

.lane-header {
  padding: 1em;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

  overflow: auto;

  color: #efefef;
  background-color: #333;
}

.lane-name {
  float: left;
}

.lane-add-note {
  float: right;

  margin-left: 0.5em;
}

.notes {
  position: relative;
  max-width: 10em;
  margin: 0.5em;
  padding-left: 0;
  list-style: none;
}

.note {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5em;
  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);
  width: 100%;
}

.note:hover {
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.7);
  transition: .6s;
}

.note .value, .note input {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.5em;
}

.note:hover .delete {
  visibility: visible;
}

.note .delete {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background-color: tomato;
  cursor: pointer;
  cursor: hand;
  visibility: hidden;
}

.add-item {
  background-color: smoke;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
}